<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancier.prototype.common.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.fancier.prototype.common.model.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="mp_open_id" jdbcType="VARCHAR" property="mpOpenId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="user_profile" jdbcType="VARCHAR" property="userProfile" />
    <result column="user_role" jdbcType="VARCHAR" property="userRole" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fancier.prototype.common.model.entity.User" useGeneratedKeys="true">
    insert into user (user_account, user_password, union_id, 
      mp_open_id, username, user_avatar, 
      user_profile, user_role, edit_time, 
      create_time, update_time, is_delete
      )
    values (#{userAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR}, 
      #{mpOpenId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userAvatar,jdbcType=VARCHAR}, 
      #{userProfile,jdbcType=VARCHAR}, #{userRole,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fancier.prototype.common.model.entity.User">
    update user
    set user_account = #{userAccount,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      union_id = #{unionId,jdbcType=VARCHAR},
      mp_open_id = #{mpOpenId,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_profile = #{userProfile,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_account, user_password, union_id, mp_open_id, username, user_avatar, 
    user_profile, user_role, edit_time, create_time, update_time, is_delete
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_account, user_password, union_id, mp_open_id, username, user_avatar, 
    user_profile, user_role, edit_time, create_time, update_time, is_delete
    from user
  </select>
</mapper>